@model List<School.Models.Subject>

@if (Model.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Subject Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>
                        <button class="btn btn-primary" onclick="editSubject(@item.ID)">Edit</button>
                        <button class="btn btn-danger" onclick="DeleteSubject(@item.ID)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<script>
    function editSubject(id) {
        $.ajax({
            url: "/Admin/Subject/Edit",
            type: "GET",
            data: {
                id: id
            }
        }).done(function (data) {
            $('#subject-form').html(data)
            window.scrollTo(0, 0); 
        }).fail(function (data) {
            alert("Error in getting form.")
        });
    }
    function loadSubjects() {
        $.ajax({
            url: "/Admin/Subject/SubjectsDetails",
            type: "GET"
        }).done(function (data) {
            $('#subjects').html(data)
        }).fail(function (data) {
            alert("Error in getting subjects.")
        });
    }
</script>