@model School.ViewModel.StudentSubjectVM
@{
    string formName = ViewBag.FormName = "AddStudentSubjectForm";

}
@using (Ajax.BeginForm(formName,
   new AjaxOptions { OnSuccess = "onSuccess", OnFailure = "onFailure" }))
{
    <div class="form-group col-md-4 col-sm-4 col-xs-12">
        @Html.LabelFor(z => z.StudentFK, new { @class = "form-label" })
        @Html.DropDownListFor(z => z.StudentFK,
                     new SelectList(new School.DAL.StudentsDAL().GetAll(),
                     "ID", "Name"),
                     new { @class = "form-control", id = "StudentFK" })
        @Html.ValidationMessageFor(z => z.StudentFK)
    </div>
    <div class="form-group col-md-4 col-sm-4 col-xs-12">
        <div id="SubjectDiv">
            <label>Subject</label>
            <select id="SubjectFK" name="SubjectFK" class="form-control">
            </select>

        </div>
    </div>
    if (formName == "PostEdit")
    {
        @Html.HiddenFor(z => z.ID)

        <button class="btn btn-primary" type="submit">Edit</button>
    }
    else if (formName == "AddStudentSubjectForm")
    {
        <button class="btn btn-success" type="submit">Save</button>
        <button class="btn btn-danger" type="reset">Clear</button>
    }

}
<script>
    $('#StudentFK').change(function () {
        BindSubject();
    })
    function BindSubject() {
        $.ajax({
            url: "/Subject/GetSubjects",
            method: "Get",
            data: {
                id: $('#StudentFK').val()
            }
        }).done(function (data) {
            var rows = "";
            $.each(data.subjects, function (i, item) {
                if (item != null) {
                    rows += '<option value = "' + item.ID + '">' + item.Name + '</option>';
                }
            })
            $('#SubjectFK').html(rows)
        }).fail(function (data) {

        });
    }
</script>
