@model School.ViewModel.TeachersVM
@{ 
    string formName = ViewBag.FormName = "AddTeacherForm";
}
@using (Ajax.BeginForm(formName,
   new AjaxOptions { OnSuccess = "onSuccess", OnFailure = "onFailure" }))
{
    <div class="form-group col-md-4 col-sm-4 col-xs-12">
        @Html.LabelFor(z => z.Name, new { @class = "form-label" })
        @Html.TextBoxFor(z => z.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(z => z.Name)
    </div>

    if (formName == "PostEdit")
    {
        @Html.HiddenFor(z => z.ID)

        <button class="btn btn-primary" type="submit">Edit</button>
    }
    else if (formName == "AddTeacherForm")
    {
        <button class="btn btn-success" type="submit">Save</button>
        <button class="btn btn-danger" type="reset">Clear</button>
    }

}